Çoklu Doğrusal Regresyon

In [44]:
# aynı veri setini kullanıyoruz
import pandas as pd
df = pd.read_csv("C:/Users/safye/Desktop/makine_ogrenmesi/dogRegMod/Advertising.csv")
df = df.iloc[:,1:len(df)]
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

X = df.drop('sales', axis=1):
Modelin girdisi olacak tüm sütunları (X), tablodan sadece tahmin etmeye çalıştığımız 'sales' sütununu çıkararak belirledik.

In [45]:
X = df.drop('sales', axis=1)
y = df[["sales"]]

In [46]:
#bagımlı değişken
y.head()

   sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [47]:
#bağımsız değişkenler
X.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

Statsmodels ile model kurmak

In [48]:
import statsmodels.api as sm

In [49]:
lm = sm.OLS(y, X)

In [50]:
model = lm.fit()

In [51]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  sales   R-squared (uncentered):                   0.982
Model:                            OLS   Adj. R-squared (uncentered):              0.982
Method:                 Least Squares   F-statistic:                              3566.
Date:                Thu, 16 Oct 2025   Prob (F-statistic):                   2.43e-171
Time:                        13:42:25   Log-Likelihood:                         -423.54
No. Observations:                 200   AIC:                                      853.1
Df Residuals:                     197   BIC:                                      863.0
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
TV             0.0538      0.001     40.507      0.000       0.051       0.056
radio          0.2222      0.009     23.595      0.000       0.204       0.241
newspaper      0.0168      0.007      2.517      0.013       0.004       0.030
==============================================================================
Omnibus:                        5.982   Durbin-Watson:                   2.038
Prob(Omnibus):                  0.050   Jarque-Bera (JB):                7.039
Skew:                          -0.232   Prob(JB):                       0.0296
Kurtosis:                       3.794   Cond. No.                         12.6
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

scikit learn ile model kurmak

In [52]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [53]:
model = lm.fit(X, y)

In [54]:
#bağımlı değişkeni getirir
model.intercept_

array([2.93888937])

In [55]:
#bağımsız değişkenleri getirir
model.coef_

array([[ 0.04576465,  0.18853002, -0.00103749]])

Tahmin

sales = 2.94 + 30*0,04 + 10*0,19 - 40*0,001

30 birim TV, 10 biirm radio, 40 birim gazete tahmini yapalım

In [56]:
#manuel bir şekilde tahmin işlemi yapalım
2.94 + 30*0.04 + 10*0.19 - 40*0.001

5.999999999999999

In [57]:
#fonksiyonel tahmin yazımı
yeni_veri = [[30], [10], [40]]

In [58]:
import pandas as pd 
yeni_veri = pd.DataFrame(yeni_veri).T

In [59]:
yeni_veri

    0   1   2
0  30  10  40

In [60]:
model.predict(yeni_veri)

C:\Users\safye\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[6.15562918]])

In [61]:
from sklearn.metrics import mean_squared_error

In [62]:
y.head()

   sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [63]:
model.predict(X)[0:10]

array([[20.52397441],
       [12.33785482],
       [12.30767078],
       [17.59782951],
       [13.18867186],
       [12.47834763],
       [11.72975995],
       [12.12295317],
       [ 3.72734086],
       [12.55084872]])

In [64]:
MSE = mean_squared_error(y, model.predict(X))
MSE

2.784126314510936

In [65]:
import numpy as np 
RMSE = np.sqrt(MSE)
RMSE

np.float64(1.6685701407225697)

Model Tuning (Model Doğrulama)

In [84]:
X.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [85]:
y.head()

   sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [86]:
#sinema site 
from sklearn.model_selection import train_test_split

In [87]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=99)

In [88]:
y_train.head()

     sales
16    12.5
51    10.7
97    15.5
164   11.9
71    12.4

In [89]:
X_train.head()

        TV  radio  newspaper
16    67.8   36.6      114.0
51   100.4    9.6        3.6
97   184.9   21.0       22.0
164  117.2   14.7        5.4
71   109.8   14.3       31.7

In [90]:
X_test.head()

       TV  radio  newspaper
135  48.3   47.0        8.5
127  80.2    0.0        9.2
191  75.5   10.8        6.0
66   31.5   24.6        2.2
119  19.4   16.0       22.3

In [91]:
y_test.head()

     sales
135   11.6
127    8.8
191    9.9
66     9.5
119    6.6

In [92]:
lm = LinearRegression()
model = lm.fit(X_train, y_train)

In [93]:
#eğitim hatası
np.sqrt(mean_squared_error(y_train, model.predict(X_train)))

np.float64(1.7236824822650751)

In [94]:
#test hatası
np.sqrt(mean_squared_error(y_test, model.predict(X_test)))

np.float64(1.4312783138301641)

In [95]:
#k-katlı cv
from sklearn.model_selection import cross_val_score

In [96]:
cross_val_score(model, X_train, y_train, cv=10, scoring="neg_mean_squared_error")

array([-2.1019073 , -2.48953197, -3.09704214, -2.34694216, -3.68175761,
       -1.8691401 , -3.18173007, -4.1927349 , -2.17128376, -8.03821974])

In [97]:
#cv mse
np.mean(-cross_val_score(model, X_train, y_train, cv=10, scoring="neg_mean_squared_error"))

np.float64(3.3170289742341255)

In [99]:
#cv rmse
np.sqrt(np.mean(-cross_val_score(model, X_train, y_train, cv=10, scoring="neg_mean_squared_error")))

np.float64(1.8212712522395245)